<script type="text/javascript" src="jquery-2.0.2.min.js"></script>
<script type="text/javascript" src="common.js"></script>
<script type="text/javascript" src="popup.js"></script>

<div style="backgrond-color: #333333">
	<div id="image" style="height:300px;width:300px;"></div>
	<div id="artist" style="text-align:center"><h3 style="margin:2px">&nbsp;</h3></div>
	<div id="track" style="text-align:center"><h4 style="margin:2px">&nbsp;</h4></div>
</div>